
.big{
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;  
}

.bigger{
    width: 220px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;  
}

.center{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rect-big{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock{
    display: flex;
    justify-content: end;
}




